.header {
  padding-top: 34px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 90px;
  align-items: center;
}
.header__logo {
  max-width: 254px;
}
.header__content {
  max-width: 984px;
}
.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
}
.header__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px;
  max-width: 720px;
}
.header__image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }
  .header__content {
    max-width: 100%;
  }
  .header__title {
    font-size: 75px;
    line-height: 1.05;
    margin: 0 auto 25px;
    max-width: 530px;
  }
  .header__description {
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    padding-top: 20px;
    row-gap: 50px;
  }
  .header__logo {
    max-width: 188px;
  }
  .header__title {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
    max-width: 228px;
  }
  .header__description {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto 40px;
    max-width: 288px;
  }
}
