.introduction {
  padding-top: 92px;
  max-width: 100%;
}
.introduction__content {
  max-width: 830px;
  margin: 0 302px 0 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.introduction__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  text-align: left;
  width: 100%;
  margin: 0 0 40px;
}
.introduction__quote {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  max-width: 738px;
  margin: 0 92px 10px 0;
}
.introduction__quote-author {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  text-align: right;
  max-width: 732px;
  margin: 0 98px 32px 0;
  align-self: flex-end;
}
.introduction__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: left;
  max-width: 722px;
  margin: 0 108px 0 0;
}

@media screen and (max-width: 1024px) {
  .introduction {
    padding-top: 90px;
  }
  .introduction__content {
    max-width: 720px;
    margin: 0 24px;
  }
  .introduction__title {
    font-size: 45px;
    line-height: 1.08;
    max-width: 707px;
    margin: 0 13px 50px 0;
  }
  .introduction__quote {
    max-width: 100%;
    margin: 0;
  }
  .introduction__quote-author {
    max-width: 100%;
    margin: 0 0 32px;
  }
  .introduction__text {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 720px) {
  .introduction {
    padding-top: 64px;
  }
  .introduction__content {
    max-width: 100%;
    margin: 0 16px;
  }
  .introduction__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 40px;
    max-width: 100%;
  }
  .introduction__quote {
    line-height: 1.25;
    max-width: 100%;
    margin: 0 0 10px;
  }
  .introduction__quote-author {
    line-height: 1.42;
  }
}
